.navBar{
    width: 100%;
    position: fixed !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: var(--bg);
    color: var(--text);
}
