.wrapPage{
    padding-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.titleName{
    width: 100%;
    text-align: center;
}